<h1>New Entry</h1>
<%= form_for :entry, url: entries_path do |f| %>
    <p>
      <%= f.label :id %><br>
      <%= f.text_field :e_id %>
    </p>

    <p>
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </p>
    <p>
      <%= f.label :link %><br>
      <%= f.text_field :link %>
    </p>

    <p>
      <%= f.label :content %><br>
      <%= f.text_area :content %>
    </p>

    <p>
      <%= f.submit %>
    </p>
<% end %>